<html>
    <head>
        <title>Pruebas HTML</title>
    </head>
    <body>
        <h1>Datos</h1>
        <br>
        <h2>Agregar Datos</h2>
        <br>
        <form action="calculador/" method="GET">
            <label>Tamaño Región</label>
            <input type="text" name="n">
            <label>Numero de ciudades</label>
            <input type="text" name="m">
            <label>Matriz</label>
            <input type="text" name="matriz">
            <input type="submit" value="enviar">
        </form>
        <br>
    </body>
</html>